@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.cards-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  border: solid black 1px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.46);
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 900;
}

.author {
  font-size: 20px;
  align-self: center;
}

.pages, .read {
  font-size: 12px;
  align-self: end;
}

.addBook{
  background-color: white;
  border: solid black 1px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.46);
  margin : 25px;
  font-size: 20px;;
}

.formAddBook{
  display: flex;
  flex-direction: column;
  gap:10px;
  width:250px;
  position: absolute;
  left:50%;
  bottom: 50%;
  transform: translate(-50%,0);
  margin: auto;
  padding: 20px;
  border: solid black 1px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.46);
  background-color: white;
  visibility:hidden;
  font-size: 25px;
  font-weight: 700;
}

#form-checkbox{
  align-self: flex-start;
}
#form-button{
  width:50%;
  margin:auto;
}

.suppr-button{
  width:30px;
  background-color: white;
  border: solid black 1px;
}
