@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.cards-container {
  display: flex;
  gap: 25px;
}

.card {
  border: solid black 1px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.46);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 36px;
  font-weight: 900;
  align-self: center;
}

.author {
  font-size: 20px;
  align-self: center;
}

.pages, .read {
  font-size: 12px;
  align-self: end;
}

.addBook{
  background-color: white;
  border: solid black 1px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.46);
  margin : 25px;
}